<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head> -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="'Львівська десятка' - традиційні змагання із бігу по шосе на 10 кілометрів. Федерація легкої атлетики України надала цим змаганням статусу Чемпіонату України. Поряд із професіоналами мають змогу позмагатись усі охочі любителі бігу!">
    <meta name="author" content="https://plus.google.com/+ClubUltraUaRUN/">

    <!-- Facebook -->
    <meta property="og:locale" content="ua_UK" />
    <!-- <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:locale:alternate" content="pl_PL" /> -->
    <meta property="og:title" content="Львівська десятка - традиційні змагання із бігу по шосе на 10 кілометрів." />
    <meta property="og:description" content="Федерація легкої атлетики України надала цим змаганням статусу Чемпіонату України. Поряд із професіоналами мають змогу позмагатись усі охочі любителі бігу." />
    <meta property="og:site_name" content="Львівська десятка" />
    <meta property="og:url" content="http://lvivskadesiatka.org.ua/ua" />
    <meta property="og:type" content="website" />
    <meta property="article:publisher" content="https://www.facebook.com/sportclubultra" />
    <!-- <meta property="article:author" content="https://www.facebook.com/yaroslav.kondyukh" /> -->
    <!-- <meta property="article:tag" content="Львівська десятка" />
    <meta property="article:tag" content="Спортивна подія" />
    <meta property="article:tag" content="Біг" />
    <meta property="article:section" content="Подія" />
    <meta property="article:published_time" content="2015-07-05T03:12:53+02:00" /> -->
    <meta property="og:image" content="http://lvivskadesiatka.org.ua/images/lvivska-desiatka.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sc_ultra" />
    <meta name="twitter:title" content="Львівська десятка - традиційні змагання із бігу по шосе на 10 кілометрів." />
    <meta name="twitter:description" content="Федерація легкої атлетики України надала цим змаганням статусу Чемпіонату України. Поряд із професіоналами мають змогу позмагатись усі охочі любителі бігу!" />
    <meta name="twitter:image" content="http://lvivskadesiatka.org.ua/images/lvivska-desiatka.jpg" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" href="/images/favicons/favicon.ico">
    <link rel="manifest" href="/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Львівська десятка - традиційні змагання із бігу по шосе на 10 кілометрів.</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ "/js/flipclock.js" | prepend: site.baseurl | prepend: site.url }}"
    ></script>



    <link rel="stylesheet" href="{{ "/css/lvivtenrunning.css" | prepend: site.baseurl | prepend: site.url }}" />

    <script type="text/javascript">
      jQuery(window).load(function() {
          $(".globalnav-toggle").click(function() {
              $("#globalnav").toggleClass("open");
              $(this).toggleClass("open");
          });
          $(window).resize(function() {
        if ($(window).width() > 768) {
            $("#globalnav").removeClass('open');
            $(".globalnav-toggle").removeClass('open');
        }
          });
      });
    </script>

    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl | prepend: site.url }}"></script>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
