<header class="jumbotron portal-header front-page">
  <div class="container">

    <div class="d">
      <div class="d1">20</div>
      <div class="d2">вересня</div>
      <div class="d3">Львів</div>
    </div>

    <button class="globalnav-toggle">
      <span class="icon-bar icon-bar-first"></span>
      <span class="icon-bar icon-bar-second"></span>
      <span class="icon-bar icon-bar-third"></span>
    </button>

    <ul id="globalnav">
      <li class="active"><a href="#">Головна</a></li>
      <li><a href="#reglament">Положення</a></li>
      <li><a href="#pressrelease">Прес-реліз</a></li>
      <!-- <li><a href="#news">Новини</a></li> -->
      <li><a href="#results">Результати</a></li>
      <li><a href="#photo">Фото/відео</a></li>
      <li><a href="#contacts">Контакти</a></li>
    </ul>

    <div class="clearfix"></div>
    <h1>Львівська десятка</h1>
    <div class="clearfix"></div>
    <div class="clock start-timer"></div>
    <div class="clearfix"></div>
    <a class="btn btn-danger btn-lg" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" target="_blank" role="button">Зареєструватись</a>
  </div>
</header>
