<section class="block-above-content block-sponsors">
  <div class="container text-center info">
    <h1>Спонсори та партнери</h1>
    <a class="item" href="http://www.evrotek.com/ua/arsen/" title="Група компаній Євротек" target="_blank">
      <img src="/images/sponsors/arsen.png" alt="Група компаній Євротек">
    </a>
    <a class="item" href="http://www.mennica-krolewska.pl/" title="Mennica Królewska - medale, medale sportowe, monety okolicznościowe, puchary" target="_blank">
      <img src="/images/sponsors/mk.png" alt="Mennica Królewska - medale, medale sportowe, monety okolicznościowe, puchary">
    </a>
    <a class="item" href="http://ua.runstyle.com.ua/" title="RunStyle" target="_blank">
      <img src="/images/sponsors/runstyle.png" alt="RunStyle">
    </a>
    <a class="item" href="http://justice.org.ua/" title="Українське юридичне товариство" target="_blank">
      <img src="/images/sponsors/tuju.png" alt="Українське юридичне товариство">
    </a>
    <a class="item" href="http://www.flalo.lviv.ua/" title="Федерація легкої атлетики Львівської області" target="_blank">
      <img src="/images/sponsors/flalo.png" alt="Федерація легкої атлетики Львівської області">
    </a>
    <a class="item" href="http://ids-service.com.ua/uk/" title="Доставка питної води – IDS AQUA SERVICE" target="_blank">
      <img src="/images/sponsors/alaska.png" alt="Доставка питної води – IDS AQUA SERVICE">
    </a>
    <a class="item" href="http://www.gorgany.com/" title="Туристичне спорядження, Магазин Gorgany.com, Купити намет, рюкзак, спальник, туристичне взуття, термобілизну" target="_blank">
      <img src="/images/sponsors/gorgany.png" alt="Туристичне спорядження, Магазин Gorgany.com, Купити намет, рюкзак, спальник, туристичне взуття, термобілизну">
    </a>
    <a class="item" href="http://www.maratonypolskie.pl/" title="MaratonyPolskie.PL - bieganie, biegi, maraton" target="_blank">
      <img src="/images/sponsors/mpl.png" alt="MaratonyPolskie.PL - bieganie, biegi, maraton">
    </a>
    <a class="item" href="http://www.lubaczowskiklubbiegacza.iap.pl/" title="Lubaczowski Klub Biegacza - LKB  NO LIMIT" target="_blank">
      <img src="/images/sponsors/nllkb.png" alt="Lubaczowski Klub Biegacza - LKB  NO LIMIT">
    </a>
  </div>
</section>