---
layout: default
lang: en
title: Львівська десятка - традиційні змагання із бігу по шосе на 10 кілометрів.
menu_title: Home page
permalink: /en
---

<header class="jumbotron portal-header front-page">
  <div class="container">

    <div class="d">
      <div class="d1">20</div>
      <div class="d2">September</div>
      <div class="d3">Lviv</div>
    </div>

    {% include navigation.html %}
    {% include languageselector.html %}

    <div class="clearfix"></div>
    <h1>Львівська десятка</h1>
    <div class="clearfix"></div>
    <div class="clock start-timer"></div>
    <div class="clearfix"></div>
    <a class="btn btn-danger btn-lg" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" target="_blank" role="button">Register</a>
  </div>
</header>














<div class="front-page">

  <div itemscope itemtype="http://schema.org/SportsEvent">

    <div class="hiddenStructure" itemprop="startDate" content="2015-09-20T12:00">
      <div class="d3" itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="addressLocality">Lviv</span>
        </span>
        <span itemprop="name">Центральна частина міста</span>
      </div>
      <span itemprop="name">Львівська десятка</span>
    </div>

    <article class="content-info">
      <div class="container">
        <p class="lead">lviv "Львівська десятка" - <span itemprop="description">традиційні змагання із бігу по шосе на 10 кілометрів. Федерація легкої атлетики України надала цим змаганням статусу Чемпіонату України</span>. Поряд із професіоналами мають змогу позмагатись усі охочі любителі бігу!</p>
        <p class="lead">Початок змагань о 12.00, урочисте нагородження о <span itemprop="endDate" content="2015-09-20T16:00">15.00</span></p>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="caption">
              <h3>Медична довідка</h3>
              <p>Обов’язковою умовою участі у змаганнях є медична довідка про задовільний стан здоров’я та заява із особистим підписом, який свідчить про те, що кожен учасник пробігу бере участь у змаганнях на власну відповідальність.</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="caption">
              <h3><a href="#section-paid">Стартовий внеск</a></h3>
              <p>Оплатити стартовий внесок можна: карткою через систему LIQPAY до 6 вересня 2015 року, або у Секретаріаті змагань 19 та 20 вересня 2015 року. <strong>Стартовий внесок становить 130 грн до 20 липня 2015 року</strong>.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="caption">
              <h3>Вік</h3>
              <p>Учасником змагань може бути будь-яка особа, якій на день проведення змагань (20 вересня 2015 року) <strong>виповнилось 18 років.</strong></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="caption">
              <h3><a href="#">Положення</a></h3>
              <p>Про проведення змагань з бігу по шосе на 10 кілометрів "Львівська десятка"</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="caption">
              <h3>Регламент</h3>
              <p>Регламентований час на подолання дистанції – 1 год. 20 хв. Учасники які не зможуть подолати дистанцію у регламентований час повинні зняти нагрудний номер та залишити трасу пробігу.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="caption">
              <h3>Медичне обслуговування</h3>
              <p>Організатори змагань забезпечують медичне обслуговування учасників під час змагань (лікар на старті та фініші), супровід каретою швидкої допомоги</p>
            </div>
          </div>
        </div>
      </div>
    </article>

    <div class="maps-info">
      <div class="container text-center">
        <h1>Траса та дистанція пробігу</h1>
      </div>
      <!-- <a href="#"> -->
        <img src="/images/maps.png" class="img-responsive">
      <!-- </a> -->
      <div class="container text-center info">
        <p class="lead">Вимір часу здійснюватиметься за допомогою електронної системи.<br /> Дистанція пробігу – 10 кілометрів.</p>
        <p class="lead">Траса буде промаркована, а також будуть встановленні відмітки на кожному кілометрі дистанції. В організації руху на трасі учасникам допомагатимуть волонтери та судді змагань. У програмі змагань будуть додаткові забіги для дітей та благодійні акції.</p>
      </div>
    </div>

    <div class="register-info navbar-default">
      <div class="container text-center info">
        <h1 style="margin-bottom: 35px;">Реєстрація</h1>
        <p class="lead">Кожен учасник змагань повинен зареєструватись для участі у змаганнях пройшовши попередню електронну реєстрацію, або безпосередньо у <strong>Секретаріаті змагань, що працюватиме 19 та 20 вересня 2015 року.</strong></p>
        <p class="lead">Прийом додаткових заявок, реєстрація учасників, видача стартових номерів буде відбуватися <strong>19 вересня, у суботу з 16.00, під чаc проведення Pasta Party</strong> та у день змагань, <strong>20 вересня 2015 року, перед початком змагань з 9.00 до 11.00.</strong></p>
        <p class="lead">Остаточною заявкою для участі у змаганнях вважається: попередня реєстрація, медична довідка та заява учасника пробігу із особистим підписом, оплата стартового внеску.</p>
      </div>
    </div>

    <div class="umovy-uchasti-info" id="section-paid">
      <div class="container text-center info" style="padding: 28px 0px 0;">
        <h1 style="margin-bottom: 35px;">Cтартовий внесок</h1>
        <p class="lead">Оплатити стартовий внесок можна: карткою через систему LIQPAY до 6 вересня 2015 року, або у Секретаріаті змагань 19 та 20 вересня 2015 року.</p>
      </div>
      <div class="container" style="width:960px;">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>#</th>
              <th>Вартість</th>
              <th>Дата</th>
            </tr>
          </thead>
          <tbody>
            <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <th scope="row">1</th>
              <td>
                <span itemprop="price">130</span>
                <meta itemprop="priceCurrency" content="UAH" />гривень</td>
              <td>
                до 20 липня 2015 року
                <meta itemprop="priceValidUntil" content="2015-07-19T23:59:59+02:00" />
                <link itemprop="url" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" />
              </td>
            </tr>
            <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <th scope="row">2</th>
              <td>
                <span itemprop="price">180</span>
                <meta itemprop="priceCurrency" content="UAH" />гривень</td>
              <td>
                з 20 липня по 6 вересня 2015 року
                <meta itemprop="priceValidUntil" content="2015-09-05T23:59:59+02:00" />
                <link itemprop="url" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" />
              </td>
            </tr>
            <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <th scope="row">3</th>
              <td>
                <span itemprop="price">250</span>
                <meta itemprop="priceCurrency" content="UAH" />гривень</td>
              <td>
                з 19 вересня у суботу та 20 вересня у день змагань
                <meta itemprop="priceValidUntil" content="2015-09-19T23:59:59+02:00" />
                <link itemprop="url" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" />
              </td>
            </tr>
            <tr itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <th scope="row">4</th>
              <td>
                <span itemprop="price">80</span>
                <meta itemprop="priceCurrency" content="UAH" />гривень</td>
              <td>
                для учасників змагань старше 60 років
                <link itemprop="url" href="http://ua.runstyle.com.ua/tournament_view.php?tid=17" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="container text-center info">
        <p class="lead">Проведенна оплата при скасуванні реєстрації<br /> учасником змагань поверненню не підлягає!</p>
      </div>
    </div>

    <div class="navbar-default">
      <div class="container text-center info">
        <h1 style="margin-bottom: 35px;">Організатори</h1>
        <div class="row" style="margin-bottom: 30px;">
          <div class="col-sm-6 col-md-4">
              <img src="/images/logo.png" height="125" alt="...">
              <div class="caption">
                <h3 itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Спортивний клуб "Ультра"</span>
                </h3>
                <p style="font-size:14px;"><a href="http://club-ultra.com.ua/" title="Спортивний клуб 'Ультра'" target="_blank">http://club-ultra.com.ua/</a></p>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/images/logo-flau.jpg" height="125" alt="...">
              <div class="caption">
                <h3 itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Федерація легкої атлетики України</span>
                </h3>
                <p style="font-size:14px;"><a href="http://www.uaf.org.ua/" title="Федерація легкої атлетики України" target="_blank">http://www.uaf.org.ua/</a></p>
              </div>
          </div>
          <div class="col-sm-6 col-md-4">
              <img src="/images/logo-flal.jpg" alt="...">
              <div class="caption">
                <h3 itemscope itemtype="http://schema.org/Organization">
                  <span itemprop="name">Федерація легкої атлетики Львівської області</span>
                </h3>
                <p style="font-size:14px;"><a href="http://www.flalo.lviv.ua/" title="Федерація легкої атлетики Львівської області" target="_blank">http://www.flalo.lviv.ua/</a></p>
              </div>
          </div>
        </div>
        <p class="lead" style="margin-bottom: 30px;" itemprop="performer" itemscope itemtype="http://schema.org/Person">
          <span itemprop="jobtitle">Керівник змагань</span><br />
          президент СК "Ультра"
          <span itemprop="name">Ярослав Кондюх</span>.<br />
          Тел.
          <span itemprop="telephone">+380974114951</span>,
          <span itemprop="telephone">+380939426112</span>.<br />
          E-mail:
          <span itemprop="email">c_ultra@ukr.net</span>
        </p>
      </div>
    </div>

    <section class="block-above-content block-sponsors">
          <div class="container text-center info">
            <h1>Спонсори та партнери</h1>
            <a class="item" href="http://www.evrotek.com/ua/arsen/" title="Група компаній Євротек" target="_blank">
              <img src="/images/sponsors/arsen.png" alt="Група компаній Євротек">
            </a>
            <a class="item" href="http://www.mennica-krolewska.pl/" title="Mennica Królewska - medale, medale sportowe, monety okolicznościowe, puchary" target="_blank">
              <img src="/images/sponsors/mk.png" alt="Mennica Królewska - medale, medale sportowe, monety okolicznościowe, puchary">
            </a>
            <a class="item" href="http://ua.runstyle.com.ua/" title="RunStyle" target="_blank">
              <img src="/images/sponsors/runstyle.png" alt="RunStyle">
            </a>
            <a class="item" href="http://justice.org.ua/" title="Українське юридичне товариство" target="_blank">
              <img src="/images/sponsors/tuju.png" alt="Українське юридичне товариство">
            </a>
            <a class="item" href="http://www.flalo.lviv.ua/" title="Федерація легкої атлетики Львівської області" target="_blank">
              <img src="/images/sponsors/flalo.png" alt="Федерація легкої атлетики Львівської області">
            </a>
            <a class="item" href="http://ids-service.com.ua/uk/" title="Доставка питної води – IDS AQUA SERVICE" target="_blank">
              <img src="/images/sponsors/alaska.png" alt="Доставка питної води – IDS AQUA SERVICE">
            </a>
            <a class="item" href="http://www.gorgany.com/" title="Туристичне спорядження, Магазин Gorgany.com, Купити намет, рюкзак, спальник, туристичне взуття, термобілизну" target="_blank">
              <img src="/images/sponsors/gorgany.png" alt="Туристичне спорядження, Магазин Gorgany.com, Купити намет, рюкзак, спальник, туристичне взуття, термобілизну">
            </a>
            <a class="item" href="http://www.maratonypolskie.pl/" title="MaratonyPolskie.PL - bieganie, biegi, maraton" target="_blank">
              <img src="/images/sponsors/mpl.png" alt="MaratonyPolskie.PL - bieganie, biegi, maraton">
            </a>
            <a class="item" href="http://www.lubaczowskiklubbiegacza.iap.pl/" title="Lubaczowski Klub Biegacza - LKB  NO LIMIT" target="_blank">
              <img src="/images/sponsors/nllkb.png" alt="Lubaczowski Klub Biegacza - LKB  NO LIMIT">
            </a>
          </div>
    </section>
  </div>

  <script type="text/javascript">
    var clock;

    $(document).ready(function() {
      // Set dates.
      var futureDate  = new Date("September 20, 2015 12:00 AM EDT");
      var currentDate = new Date();

      // Calculate the difference in seconds between the future and current date
      var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;

      // Calculate day difference and apply class to .clock for extra digit styling.
      function dayDiff(first, second) {
        return (second-first)/(1000*60*60*24);
      }

      if (dayDiff(currentDate, futureDate) < 100) {
        $('.clock').addClass('twoDayDigits');
      } else {
        $('.clock').addClass('threeDayDigits');
      }

      if(diff < 0) {
        diff = 0;
      }

      // Instantiate a coutdown FlipClock
      clock = $('.clock').FlipClock(diff, {
        clockFace: 'DailyCounter',
        language: 'en',
        countdown: true
      });
    });
  </script>

</div>
